<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

.btn {
            color: purple;
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:30px;
            display: inline-block;
            right:60px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 40px;   
    vertical-align: middle;
    
        
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/gars/gar2.jpg"  height="600" weight="200">
</div>
</div>
<div class="aside">
    <h3> Rainee Ahella's Women's Casual Short-Flaired Sleeve Semi-Long Frock</h3>
    <h4>Price:  $41.64</h4>
    <h4>Color: Green</h4>
    <h4>Material: 10% Viscose, 80% Nylon, 10% Polyester</h4>
    <h4>Details:</h4>
    <h4>1. Pull On closure</h4>
    <h4>2. Wash - Hand wash / Dry clean / Do Not Bleach / Dry Flat / Do not iron.</h4>
    <h4>3. Features - draped open front, short sleeve,knee  length frock ,knitted,relaxed fit</h4>
    <h4>This frock is such a perfect choice for cozy days! Warm and soft material, you're sure to love wearing this gorgeous style all day long!</h4>
   <h4>The knit material is lightweight, but cozy enough for a breezy fall evening! The gorgeous length is sure to have you swooning, <br>
    too! You can easily throw this frock on over jeans and shoes, like a cute dress, or a romper for a stylish look!</h4>
    <h4>Occassion - Great for casual, daily, school, office, going out, holiday, vacation,<br> street wear in any seasons especially in autumn and summer.</h4>
    
    

    <button type="submit" class="btn "><a href="../detailsgar">Buy</a></button>
</div>
   
</body>
</html>