<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:30px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 45px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/gars/gar4.jpg"  height="570" weight="100">
</div>
</div>
<div class="aside">
    <h3>Gloria Vanderbilt Women's Classic Amanda High Rise Tapered Jean</h3>
    <h4>Price: $76</h4>
    <h4>Color: Blue</h4>
    <h4>Material: 71% Cotton, 27% Polyester, 2% Spandex</h4>
    <h4>Details:</h4>
    <h4>1. Denim , Imported</h4>
    <h4>2. Wash - Machine Wash / Dry clean / Do Not Bleach / Dry Flat.</h4>
    <h4>3. Highlight Your Figure: These women's bell-bottom jeans with a big horn that covers the whole shoe. The buttock lifting design accentuates <br>
        the curve of the buttock. The whole body will highlight your attractive figure.</h4>
    <h4>5. Style - Classic high rise taper jean sits at natural waist with functional pockets, <br>easy zipper fly and belt loops for the fit you love. <br>
    <h4>6. Versatility: Goes great with all tops from fashionable to basic T-shirts and all footwear from stylish boots to your favorit shoes.</h4>
        <h4>7. Length: This high rise pant have a 31 inch average inseam, 29 inch short inseam and 33 inch long inseam with a 15 inch leg opening.</h4>
    
    

    <button type="submit" class="btn "><a href="../detailsgar">Buy</a></button>
</div>
   
</body>
</html>