<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:50px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 65px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/gars/gar6.png"  height="570" weight="100">
</div>
</div>
<div class="aside">
    <h3>INMONARCH Womens Sea Green & Blue Half Chiffon & Half Net Saree SRD2503
    </h3>
    <h4>Price: $36</h4>
    <h4>Color: Sea-Green</h4>
    <h4>Material: 50% Viscose, 30% Nylon, 20% Polyester</h4>
    <h4>Details:</h4>
    
    <h4>1. Wash - Dry clean / Do Not Bleach / Dry Flat / Do not iron.</h4>
    <h4>2.To get it stitched or custom made with your sizes please roll over
         "stitched" from size box above.
         We will send measurement form after receiving <br>order by email also.</h4>
    <h4>The garment includes 2 pieces of fabric - 4.5metres of Saree (to be worn as a Lehenga with Pallu) 
        and about 0.8 <br> metres of unstitched blouse piece.</h4>
    <h4>The garment is unstitched - we provide customized stitchng service at an additional cost of 20 US$.</h4>
       <h4> Stitching, if requested, takes additional 1-2 days after the measurement is received.</h4>
    <button type="submit" class="btn "><a href="../detailsgar">Buy</a></button>
</div>
   
</body>
</html>