<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:70px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 45px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/gars/gar9.jpg"  height="570" weight="100">
</div>
</div>
<div class="aside">
    <h3>Annies Women's Slim-Fit Half Sleeve Square Neck T-Shirt</h3>
    <h4>Price: $56</h4>
    <h4>Color: Yellow</h4>
    <h4>Material: 50% Viscose, 30% Nylon, 20% Polyester</h4>
    <h4>Details:</h4>
    <h4>1.This casual wardrobe essential tee features a slim-fit for comfortable everyday wear</h4>
    <h4>2. Wash - Hand wash / Dry clean / Do Not Bleach / Dry Flat / Do not iron.</h4>
    <h4>3. Everyday made better: we listen to customer feedback and fine-tune every detail to ensure quality, fit, and comfort </h4>


    <h4>4. Occassion - Great for casual, daily, school, office, going out, holiday, vacation, street wear in any seasons especially in autumn and winter.</h4>
    <h4>5. Package included: 1 x henley shirts. Garment care: Machine washable with laundry bag, hand wash cold, color separately. Do not bleach.</h4>
    

    <button type="submit" class="btn "><a href="../detailsgar">Buy</a></button>
</div>
   
</body>
</html>