<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:70px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 85px;   
    vertical-align: middle;
    margin-left: 40px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/shoes/shoe6.jpg"  height="450" weight="100">
</div>
</div>
<div class="aside">
    <h3>Saint G. Black Stretch Suede Kitten Heels For Women</h3>
    <h4>Price: $50</h4>
    <h4>Color: Black</h4>
    <h4>Material: 50% Viscose, 30% Nylon, 20% Polyester</h4>
    <h4>Details:</h4>

    <h4>1.Sole: Rubber
        Closure: Pull On
       </h4>
    <h4>2. Lining & Insole : Insole : Leather Lining Below Ankle With Leather Socks
        Heel : 2.3 Inches Stiletto With Tunit Sole</h4>
    <h4>3.The Length of the Boot is-17.8 Inches.
        This SaintG below the knee boots offer a smart finish to winter outfit.</h4>
        <h4>FASHION VERSATILITY: Comfortable boots are suitable for any seasons, goes well with all outfits. Perfect for party, daily wear, working,<br> casual, shopping, travel, long time standing, driving, etc.</h4>
   

    <button type="submit" class="btn btn-primary"><a href="../detailsshoe">Buy</a></button>
 
</body>
</html>