<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:70px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 90px;   
    vertical-align: middle;
    margin-left: 40px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/shoes/shoe7.jpg"  height="450" weight="100">
</div>
</div>
<div class="aside">
    <h3>ZAPATOZ Mid-Top Lace-Up Casual Sneakers Shoes for Womens</h3>
    <h4>Price: $30</h4>
    <h4>Color: Black-Grey</h4>
    <h4>Material: 50% Viscose, 30% Nylon, 20% Polyester</h4>
    <h4>Details:</h4>

    <h4>1.Sole: Rubber
       
       </h4>
    <h4>2. Stylish And Comfortable Shoes For Both Casual & Party Wear. These Trendy Shoes Go Well With Dresses, Shorts, Skirts.</h4>
    <h4>3.Active & Smart; Extremely Durable; Provides Endless Comfort & Sturdiness. Lifestyle: Casual Wear, Office Wear, Daily Wear, <br> College Wear, Party Wear, Summer Wear, Evening Wear; Age Range Description: Adult; Pattern Type: Solid.</h4>
     <h4>Closure: Laced;  Closure: Pull On , Comfortable Sole: Extremely Light Sole And Upper Material For All Day Comfort</h4>  

    <button type="submit" class="btn btn-primary"><a href="../detailsshoe">Buy</a></button>
 
</body>
</html>