<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
   <link href =" https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="../static/style.css" /> 
<style>
    .le{
        display: inline-block;
        left:90px;
        position: absolute;
    }

  

    .ri{
        display: inline-block;
        right: 90px;
        position: absolute;
    }
    

    .r{
        display: inline-block;
        right: 90px;
        top:1050px;
        position: absolute;
        color:rgb(7, 7, 7);
    }

    .l{
   display: inline-block;
        left:90px;
        position: absolute;
    }

</style>
    
</head>

<body>
  
    <header>
     
      
        <div class="container">
            <nav class="flex">
              <div class="left">

                <b><h1 class="new1">NET-A-PORTER</h1></b>
                <h5>Fashion as unique as you are!</h5>
                      
               </div>
              <div class="right">
                      
                <a href="#mission">Our Mission</a>
                &nbsp;
                <a href="#goal">Goal</a>
                &nbsp;
                  <a href="#aboutus">About Us</a>

            </nav></div>

    </header> 

      

<br><br><br><br>


<section id="mission" class="mission">
<div class="le">
        
<h3>Our Mission</h3><br>
<h1>
Enabling you to take<br>
your choices away.</h1>
<br>
<p>
In every entrepreneur is the potential for a great brand. <br>
Whether it’s a seed of inspiration or a grand vision of <br>
what the brand could be, we believe it can be realized <br>
with the right tools and enough passion.That’s why we’ve <br>
built a platform that removes the traditional barriers <br>
to branding and puts the reins in your hands to take the <br>
first step. With the help of our AI-powered algorithm <br>
that learns your preferences and goals, we provide a<br>
more agile and streamlined approach that allows anyone <br>
to brand their way—regardless of skills, budget, or <br>
expertise—towards business growth and leading teams <br>
to success.
</div>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div class="ri">
<img src="../static/ab1.jpg" alt=""   width="650px"></div>
</div>

</section>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<section id="goal" class="goal">

 <div class="r">
        <h3>
            “Our goal is to make branding accessible to all peoplef various <br>backgrounds and budgets,
             and to create a world where they can <br>freely express who they are as a business, and can
              scale towards <br> success by leveraging a unique brand that is theirs and theirs alone. <br>
              I believe entrepreneurs with a strong sense of purpose and <br> commitment to pursue their
               vision will eventually lead and change <br> the world.” <br><br>
                &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-Srabani saha , Founder.

        </h3>
    </div>


    <div class="l">
        <img src="../static/ab2.jpg" alt=""   width="600px"></div>

</section>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 

<section id="aboutus" class="aboutus">
 


 <div class="le">
    <h3>About</h3>
    <br>
        <p>
                        NET-A-PORTER is a group of designers, entrepreneurs, innovators, and <br>
                        technologists who have roots in a type foundry with nearly 100 years <br>
                         of craft and design history.
<br>
                       <br>
                        We are advocates for a future world in which anyone can openly and<br>
                         freely express their ideas, passions, and dreams. Only then can we<br>
                          overcome boundaries and find common purpose and support in one <br>
                           another.
                        
            
                </div>
            
            
                <div class="ri">
                    <img src="../static/ab3.jpg" alt=""   width="600px"></div>
       
            </section>
  


<br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<section class="contact" id="contact">
    <div class="container">
        <h1 class="section-heading"><span>Contact  </span>Us</h1>
        <p>

            <div class="wrapper2">
                 <div class="card">

                    <h3>Customer Helpline</h3>
                    <h6>8585057665</h6>

                </div> 
                <div class="card">

                    <h3>Email Us At</h3>
                    <h6>srabanisaha1707@gmail.com</h6>


                </div>
            </div>

    </div>

</section>


<footer>
    <div class="footers">
        <p>&copycopyright by Srabani Saha. All rights Reserved.
    </div>
</footer>

 



           

