<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-size: cover; 
            width: 1000px; 
    background-image: url("../static/picc.jpg");
   background-repeat: no-repeat;

        
        }
        .btn {
            color: purple;
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            margin-left: 33%;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
font-family: 'Courier New', Courier, monospace;
}
   
        
.btn:hover {
          
          color: purple;
          transform: translateY(1px);
         text-decoration: none;
         font-size: 1.5em;
         box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
          background: white;
      }
        .text-center{
            color: purple;
         
      
            font-family: 'Courier New', Courier, monospace;
            background: none;
            left: 33%;

        }
    .container{
        color: purple;
            position: absolute;
        background-color: rgb(246, 215, 174);
            font-family: 'Courier New', Courier, monospace;
            background: none;
            left: 15%;
    }

   .form-group{
    top:25%;
    width: 100%;
            margin: 22px 0px;
            font-weight: bold;
            top:40%;
   }

   
        
        .form-group input {
            background: none;
            width: 100%;
            padding: 5px 10px;
            font-size: 20px;
            border: none;
            outline: none;
            color: rgb(10, 10, 10);
            border-bottom: 3px solid purple;
        }
    </style>
   
</head>
<body>
   
   

        <div class="container my-4">
         <h1 class="text-center">Fill All The Details Here!</h1>
         <form action="/detailsbag" method="post">

            <div class="form-group">
               
                <label for="custname"></label>
                <input type="text" maxlength="65" class="form-control" name="custname" aria-describedby="emailHelp" placeholder="Your name" required>
    
            </div>
            <br>
<!-- 
            <div class="form-group">
               
                <label for="username"></label>
                <input type="text" maxlength="15" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username"
            required>
    
            </div> -->
            <!-- <br> -->

            <div class="form-group">
              
                <label for="Phone No"></label>
                <input type="text" maxlength="10" minlength="10" class="form-control" id="phoneno" name="phoneno" placeholder="Mobile No"
            required>
                </div>
     
            <br>
            <!-- <div class="form-group">
         
                <label for="Email"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email-Id" required>
             
            </div>
            <br> -->

            
            <div class="form-group">
              
                <label for="Address"> </label>
                <input type="text"  maxlength="65" class="form-control" id="address" name="address" placeholder="Address" required>
            </div>
            <br>

            <div class="form-group">
     
                <label for="landmark"></label>
                <input type="text"  maxlength="65" class="form-control" id="landamrk" name="landmark" placeholder="Landmark"  required>
            </div>

            <br>

            <div class="form-group">
             
                <label for="product">Select Product:</label>
            <select required name="product" id="product">
               
                <option value="INOVERA Hobo Bag">INOVERA Hobo </option>
                <option value="SOPAR Hand Bag">SOPAR Hand </option>
                <option value="WK LIFE Fur Bag">WK LIFE Fur </option>
                <option value="DMS RETAIL Bag">DMS RETAIL</option>
                <option value="Lapis o Lupo">Lapis O Lupo</option>
                <option value="AQVA Bag">AQVA Bag</option>
                <option value="Fastrack Bryant Bag">Fastrack Bryant</option>
                <option value="Creeper Women's Handbag">Creeper Women's Handbag</option>
                <option value="Exoticas hand Bag ">Exoticas hand Bag </option>
                <option value="Lapina Leather Bag">Lapina Leather Bag</option>
                <option value="INIT Evelyn  Purse ">INIT Evelyn Purse </option>
                <option value="Katkers Leather Bag">Katkers Leather Bag</option>
                
               

    
    

</select>
</div>

              <button type="submit" class="btn">Proceed To Pay</a></button>
             
         </form>
        </div>
</body>
</html>