<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
   <link href =" https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/style.css" />
<style>


.bttn {
            color: purple;
         cursor: pointer;
             padding: 8px 31px;
         outline: 0px solid transparent;
            font-size: 14px;
            background: none;       
}
        .bttn:hover {
          
            color: purple;
        text-decoration: none;
        
          
         
        }
</style>

    
</head>

<body>
  
    <header>
     
      
        <div class="mycont">
            <nav class="">
              <div class="left">

                <b><h1 class="new1">NET-A-PORTER</h1></b>
                <h5>As unique as you are!</h5>
                      
               </div>
              <div class="right">
                        <a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#service">Garments</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#works">Bags</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#shoes">Shoes</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#blogs">Clients</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#contact">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/login">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;
                      
                       <a href="/signup">REGISTER</a>&nbsp;&nbsp;&nbsp;&nbsp;
            

                      </div>

            </nav></div>

    </header> 
 

  
    <div class="pics">
   
             
              <a href="/login">
                <img src="../static/show1.png" alt="Avatar" style="width:100%" ></a>
           </div>


          

      

  
















    <section id="service" class="services">
        <div class="container">
          <h1 class="trending">NOW TRENDING</h1>
          <br>
          <br>

            <h1 class="section-heading">Garm<span>ents</span>

            </h1>
     <h4> The ultimate clothing to see the world in!</h4>
     <br>
     <br>

    
            <div class="wrapper">


              <div class="card"  id="gar1">
                <a href="/login">
                <img src="../static/gars/gar1.jpg" alt="Avatar" style="width:68%" ></a>
              
              
                  <h4><b>Price: $88</b></h4>
                  <p>ANRABESS Jacket</p>
                  <!-- <button type="button" class="btn">add to bag</button> -->
                </div>

             <div class="card" id="gar2">
                <a href="/login">
             
                  <img src="../static/gars/gar2.jpg" alt="Avatar" style="width:70%"></a>
                
                    <h4><b>Price: $41.64</b></h4>
                    <p>Rainee Frock</p>
                  </div>
          <div class="card" id="gar3">
            <a href="/login">

                    <img src="../static/gars/gar3.jpg" alt="Avatar" style="width:58%"></a>
                  
                      <h4><b>Price: $56</b></h4>
                      <p>KDF Jeans</p>
                    </div>



                    <div class="card" id="gar4">
                        <a href="/login">
                      <img src="../static/gars/gar4.jpg" alt="Avatar" style="width:68%"></a>
                    
                        <h4><b>price: $76</b></h4>
                        <p>Gloria Jeans</p>
                      </div>

                      <div class="card"  id="gar5">
                        <a href="/login">
                        <img src="../static/gars/gar5.jpg" alt="Avatar" style="width:77%"></a>
                      
                          <h4><b>Price: $23</b></h4>
                          <p>Johnny Shirt</p>
                        </div>

                        <div class="card"  id="gar6">
                            <a href="/login">
                          <img src="../static/gars/gar6.png" alt="Avatar" style="width:68%"></a>
                        
                            <h4><b>Price: $36</b></h4>
                            <p>INMONARCH Saree</p>
                          </div>



                          <div class="card" id="gar7">
                            <a href="/login">
                            <img src="../static/gars/gar7.jpg" alt="Avatar" style="width:68%"></a>
                          
                              <h4><b>Price: $52</b></h4>
                              <p>Essentials T-Shirt</p>
                            </div>


                            <div class="card"  id="gar8">
                                <a href="/login">
                              <img src="../static/gars/gar8.png" alt="Avatar" style="width:68%"></a>
                            
                                <h4><b>Price: $36</b></h4>
                                <p>BMJL Shirt</p>
                              </div>



                              <div class="card"  id="gar9">
                                <a href="/login">
                                <img src="../static/gars/gar9.jpg" alt="Avatar" style="width:70%"></a>
                              
                                  <h4><b>Price: $56</b></h4>
                                  <p>Annies T-Shirt</p>
                                </div>


                                <div class="card"  id="gar10">
                                    <a href="/login">
                                  <img src="../static/gars/gar10.png" alt="Avatar" style="width:72%"></a>
                                
                                    <h4><b>Price: $36</b></h4>
                                    <p>Prettify Top</p>
                                  </div>

                                  <div class="card" id="gar11">
                                    <a href="/login">
                                    <img src="../static/gars/gar11.png" alt="Avatar" style="width:66%"></a>
                                  
                                      <h4><b>Price: $56</b></h4>
                                      <p>Navreeti Kurti</p>
                                    </div>
               
                                    <div class="card" id="gar12">
                                        <a href="/login">
                                      <img src="../static/gars/gar12.jpg" alt="Avatar" style="width:75%"></a>
                                    
                                        <h4><b>Price: $60</b></h4>
                                        <p>Amalina Jacket</p>
                                    
                                      </div>
            </div>
        </div>

    </section>

                                                <!-- BAGS -->

    <section id="works" class="services">

            <div class="container">
                <h1 class="section-heading">Ba<span>gs</span>
    
                </h1>
                <h4> Be exclusive, Be Devine, Be yourself</h4>
              <br>
              <br>
          <div class = "wrapper">
                    
                <div class="card" id="bag1">
                    <a href="/login">
                    <img src="../static/bags/bag1.jpg" alt="Avatar" style="width:70%">  </a>
                  
                      <h4><b>Price: $44 </b></h4>
                      <p>INOVERA Hobo Bag</p>
                    </div>


                    <div class="card" id="bag2">
                        <a href="/login">
                            <img src="../static/bags/bag2.jpg" alt="Avatar" style="width:70%">  </a>
                          
                              <h4><b>Price: $32</b></h4>
                              <p>SOPAR Hand Bag</p>
                            </div>
                            


                            <div class="card" id="bag3"> 
                                <a href="/login">
                                <img src="../static/bags/bag3.jpg" alt="Avatar" style="width:65%">  </a>
                              
                                  <h4><b>Price: $54</b></h4>
                                  <p>WK LIFE Fur Bag</p>
                                </div>


                                <div class="card"  id="bag4">
                                    <a href="/login">
                                    <img src="../static/bags/bag4.jpg" alt="Avatar" style="width:78%">  </a>
                                  
                                      <h4><b>Price: $33</b></h4>
                                      <p>DMS RETAIL Bag</p>
                              </div>



                                    <div class="card" id="bag5">
                                        <a href="/login">
                                        <img src="../static/bags/bag5.jpeg" alt="Avatar" style="width:70%">  </a>
                                      
                                          <h4><b>Price: $33</b></h4>
                                          <p>Lapis o Lupo</p>
                                        </div>
             


                                        
                                    <div class="card" id="bag6">
                                        <a href="/login">
                                        <img src="../static/bags/bag6.jpg" alt="Avatar" style="width:70%">  </a>
                                      
                                          <h4><b>Price: $31</b></h4>
                                          <p>AQVA Bag</p> 
                                          
                                          </div>
                                          
                                          <div class="card"  id="bag7">
                                            <a href="/login">
                                            <img src="../static/bags/bag7.jpg" alt="Avatar" style="width:80%">  </a>
                                          
                                              <h4><b>Price: $37</b></h4>
                                              <p>Fastrack Bryant Bag"</p>
                                      </div>
                 
                                  

                                  <div class="card" id="bag8">
                                    <a href="/login">
                                    <img src="../static/bags/bag8.jpg" alt="Avatar" style="width:65%">  </a>
                                  
                                      <h4><b>Price: $35 </b></h4>
                                      <p>Creeper Women's Handbag</p>
                                 </div>


                              <div class="card" id="bag9">
                                <a href="/login">
                                <img src="../static/bags/bag9.jpg" alt="Avatar" style="width:80%">  </a>
                              
                                  <h4><b>Price: $71</b></h4>
                                  <p>Exoticas hand Bag </p>
                          </div>
     
                          <div class="card" id="bag10">
                            <a href="/login">
                            <img src="../static/bags/bag10.jpg" alt="Avatar" style="width:75%">  </a>
                          
                              <h4><b>Price: $65</b></h4>
                              <p>Lapina Leather Bag</p>
                      </div>


 
                      <div class="card" id="bag11">
                        <a href="/login">
                        <img src="../static/bags/bag11.jpg" alt="Avatar" style="width:75%">  </a>
                      
                          <h4><b>Price: $65</b></h4>
                          <p>INIT Evelyn  Purse </p>
                  </div>


                  <div class="card" id="bag12">
                    <a href="/login">
                    <img src="../static/bags/bag12.jpg" alt="Avatar" style="width:75%">
                  </a>
                      <h4><b>Price: $33</b></h4>
                      <p>Katkers Leather Bag</p>
              </div>

             
</div>
    
        </section>




        <!-- SHOES -->


        <section id="shoes" class="services">
          
            <div class="container">
             
                <h1 class="section-heading">Shoes & <span>Boots</span>
    
                </h1>
              <h4>Luxury, For the Woman Who Deserves It</h4>
               
<br>
<br>

              <div class="wrapper">
               
                <div class="card" id="shoe1">
                    <a href="/login">
                    <img src="../static/shoes/shoe1.jpg" alt="Avatar" style="width:70%"></a>
                  
                      <h4><b>Price: $36</b></h4>
                      <p>KazarMax Sneakers</p>
                    </div>


                    <div class="card" id="shoe2">
                        <a href="/login">
                        <img src="../static/shoes/shoe2.jpg" alt="Avatar" style="width:53%"></a>
                      
                    
                        <h4><b>Price: $46</b></h4>
                        <p>SHERRIF Block Heel </p>
                        </div>

                        <div class="card" id="shoe3">
                            <a href="/login">
                            <img src="../static/shoes/shoe3.jpg" alt="Avatar" style="width:69%"></a>
                          
                           
                      <h4><b>Price: $24</b></h4>
                      <p>Marc Loire Shoes</p>
                            </div>


                            <div class="card" id="shoe4">
                                <a href="/login">
                                <img src="../static/shoes/shoe4.jpg" alt="Avatar" style="width:70%"></a>
                              
                              
                      <h4><b>Price: $46</b></h4>
                      <p>Cole Haan Wedge</p>
                                </div>


                                <div class="card" id="shoe5">
                                    <a href="/login">
                                    <img src="../static/shoes/shoe5.jpg" alt="Avatar" style="width:70%"></a>
                                  
                                      
                      <h4><b>Price: $55</b></h4>
                      <p>Catwalk Stilettos</p>
                                    </div>



                                    <div class="card" id="shoe6">
                                        <a href="/login">
                                        <img src="../static/shoes/shoe6.jpg" alt="Avatar" style="width:47%"></a>
                                      
                                         
                      <h4><b>Price: $50</b></h4>
                      <p>Saint G. Heels</p>
                                        </div>


                    <div class="card" id="shoe7">
                        <a href="/login">
                                            <img src="../static/shoes/shoe7.jpg" alt="Avatar" style="width:70%"></a>
                                          
                      <h4><b>Price: $30</b></h4>
                      <p>ZAPATOZ Lace-up Sneakers</p>
                                            </div>

                                            <div class="card" id="shoe8">
                                                <a href="/login">
                                                <img src="../static/shoes/shoe8.jpg" alt="Avatar" style="width:78%"></a>
                                              
                                            
                      <h4><b>Price: $30</b></h4>
                      <p>Big Fox Classic Boot</p>
                                                </div>

                        <div class="card" id="shoe9">
                            <a href="/login">
                                                    <img src="../static/shoes/shoe9.jpg" alt="Avatar" style="width:50%"></a>
                                                  
                                                     
                      <h4><b>Price: $50</b></h4>
                      <p>SKOLL Velvet Sandal</p>
                                                    </div>



                     <div class="card" id="shoe10">
                        <a href="/login">
                                                        <img src="../static/shoes/shoe10.jpg" alt="Avatar" style="width:70%"></a>
                                                      
                      <h4><b>Price: $45</b></h4>
                      <p>YOHO Slays Boots</p>
                                                        </div>



                      <div class="card" id="shoe11">
                        <a href="/login">
                                                                    <img src="../static/shoes/shoe11.jpg" alt="Avatar" style="width:70%"></a>
                                                                
                                                                  
                      <h4><b>Price: $40 </b></h4>
                      <p>MONROW Judy Sleepers</p>
                                                                    </div>


                         <div class="card" id="shoe12">
                            <a href="/login">
                                                                <img src="../static/shoes/shoe12.jpg" alt="Avatar" style="width:70%"> </a>
                                                              
                                                            
                      <h4><b>Price: $55 </b></h4>
                      <p>Sarnis Beige Stilettos</p>
                                                                </div>
                    </div>
       
    
        </section>
   

   <!-- SLIDER -->

   <section id="blogs" class="reviews">
    <div class="container">
        <h1 class="section-heading">Customer Reviews</h1>

        <div class="slider">


            <div class="slide">
                <br> <br>
           
                <img src="../static/re1.jpg" alt="centered image" class="aligncenter" width="200px" />
          
               <b>Kelly D. </b> 11/24/2022<br>
                Had sooooo many compliments on my boots! LOVE THEM! Super comfortable with style! 11/10🥰🥰🥰

            </div>
            <div class="slide">
                <br>
                <br>
                <img src="../static/re2.jpg" alt="centered image" class="aligncenter" width="200px" />
                <b>Reaun Mani.</b> 10/22/2021<br>
                These jeans look even better in person! <br>
                  I'm looking forward to wearing these jeans once the weather gets cooler.

            </div>

            <div class="slide">
                <br>
                <br>
                <img src="../static/re3.jpg" alt="centered image" class="aligncenter" width="200px" />
               <b> Tandaleria Rate. </b> 3/16/2021<br>
            
               Love them! They're cute and comfy!!
               
            </div></div>



        <div class="slider-dots"></div>

    </div>

</section>

    
<!-- contact secttion -->

    <section class="contact" id="contact">
        <div class="container">
            <h1 class="section-heading"><span>Contact  </span>Us</h1>
            <p>

                <div class="wrapper2">
                     <div class="card">

                        <h3>Customer Helpline</h3>
                        <h6>8585057665</h6>

                    </div> 
                    <div class="card">

                        <h3>Email Us At</h3>
                        <h6>srabanisaha1707@gmail.com</h6>


                    </div>
                </div>

        </div>

    </section>
    <footer>
        <div class="footers">
            <p>&copycopyright by Srabani Saha. All rights Reserved.
        </div>
    </footer>

     <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   
    <script src="../static/app1.js"></script>
   


</body>

</html>

 