<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Form</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<style>
    body{
         background-size: cover; 
   
         background-image: url("../static/welcome1.jpg");
         background-size: cover;
      
         background-repeat: no-repeat;
         background-attachment: fixed; 
        }
    
</style>
</head>

<body>
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LcacImIcFbEmIg" async> </script> </form>
   
 
    
        

</body>
</html>