<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:90px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 90px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/bags/bag3.jpg"  height="500" weight="100">
</div>
</div>
<div class="aside">
    <h3>WK LIFE BORN TO LIVE Sling Fur Bags For Girls/Women</h3>
    <h4>Price: $54</h4>
    <h4>Color: Pink</h4>
   
    <h4>Details:</h4>
    
    <h4>1.SOFT & COMFORTABLE This crossbody shoulder bag is designed with fluffy fur outside, it is soft <br>and warm touch when you carrying in spring fall or winter </h4>
    <h4>2.The size is 20cm x 9cm x 15cm (LxWxH), and weight 1 lb. Perfect size to fit your cell phone,<br> cards, keys or any other essentials.</h4>
    <h4>3.You can simply use it as a Casual Clutch , party shoulder bag, wedding wristlet purse, sling<br> bag , wallet , travel crossbody bag, which will meet your all kinds of needs</h4>
    <h4>4.DURABLE & ROOMY High quality design structure with a main compartment that can fit your essentials <br>for daily and weekend use, like phone, sunglasses, textbook, pen, lipstick, glove, wallet, makeups, cards and other personal small stuffs</h4> 
    <button type="submit" class="btn "><a href="../detailsbag">Buy</a></button>
</div>