<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:90px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 110px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/bags/bag4.jpg"  height="400" weight="100">
</div>
</div>
<div class="aside">
    <h3>DMS RETAIL Women's Attractive Rajasthani Hand Crafted & Embroidery Design Handbag</h3>
    <h4>Price: $33 </h4>
    <h4>Color: Multi Colour</h4>
   
    <h4>Details:</h4>
    
    <h4>1.A very stylish and eye catching Handbag
    </h4>
    <h4>2.Best thing to gift your loved one</h4>
    <h4>3.This Handbag is suitable with Indian wear and westerns as well</h4>
    <h4>4.It Is Easy To Personal Belongings Like Money Mobile Or Cosmetics Or Other Things Safely Due to Specious Compartment</h4> 
    <button type="submit" class="btn "><a href="../detailsbag">Buy</a></button>
</div>