<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:90px;
            display: inline-block;
            right:80px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 90px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/bags/bag8.jpg"  height="450" weight="100">
</div>
</div>
<div class="aside">
    <h3>Creeper Women's Handbag/Shoulder bag With 3 Zipper Pocket</h3>
    <h4>Price: $35 </h4>
    <h4>Color: Green</h4>
 
    <h4>Details:</h4>
    
    <h4>1.Material:Rich PU, Type: Casual; Dimensions : Height 30 cm x length 32 cm , Depth 11cm Perfect and sleek design</h4>
    <h4>2.Strap Type:Dual handle, Closure Type: Zip, quality inner lining with smooth runners</h4>
    <h4>3.Outer Material Type: Polyurethane; Inner Material Type: Nylon. Department Name: Womens; Age Range Description: Adult
    </h4>
    <h4>4.Compartments: 2 Compartments And 3 Zipper Pockets.Manufacturing Defect replacement warranty</h4> 
    <button type="submit" class="btn "><a href="../detailsbag">Buy</a></button>
</div>