<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

.btn {
            color: purple;
         
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 31px;
            border-radius: 17px;
            border-color: purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
            transition: all 300ms ease;
          font-family: 'Courier New', Courier, monospace;
   
       
}

      a{
            text-decoration: none;
            color:purple;
        }
        
        .btn:hover {
          
            color: purple;
            transform: translateY(1px);
           text-decoration: none;
           font-size: 1.5em;
           box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
            background: white;
        }
        .aside{
            
            top:80px;
            display: inline-block;
            right:40px;
            position: absolute;
            background-color: rgb(243, 229, 218);
            border-radius: 17px;
            margin: 12px 0;
            padding: 8px 31px;

        }

        .img1{
   
    margin-top: 90px;   
    vertical-align: middle;
    margin-left: 30px;
 
        }
        
   
    </style>
</head>
<body>
    <div class="container">
        <div class="img1">
    <img src="../static/bags/bag9.jpg"  height="500" weight="100">
</div>
</div>
<div class="aside">
    <h3>Exoticas hand Bag for women</h3>
    <h4>Price: $71 </h4>
    <h4>Color: Maroon</h4>
    <h4>Material: 50% Viscose, 30% Nylon, 20% Polyester</h4>
    <h4>Details:</h4>
    
    <h4>1.Product Dimensions (cm)- 29 X 12.5 X 21, Closure Type - This hobo bag comes with a long removable and adjustable<br> shoulder strap</h4>
    <h4>2.OCCASION : This latest Hand Bags Hobos bag is perfect for effortless style for an evening out, art shows, coffee meet ups,<br> college, work, beach and festivals</h4>
    <h4>3.OCCASION : This latest Hand Bags Hobos bag is perfect for effortless style for an evening out, art shows, coffee meet ups, <br>college, work, beach and festivals. And don't forget to bring this purse with you<br> for those romantic island vacations and weekend getaways.</h4>
  
    <button type="submit" class="btn "><a href="../detailsbag">Buy</a></button>
</div>